h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.header__menuBtn {
    text-decoration: none;
    padding: 8px;
    ;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    padding: 3px;
    margin: 2px;
    font-weight: bold;
}

dd {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 10px;
}

button {
    background: none;
    text-decoration: none;
}

.body {
    padding: 10px
}